* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Great Vibes', sans-serif;
    line-height: 1.6;
    color: #4a4a4a;
    background: #fbfaf7;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    font-weight: 100;
}

h2 {
    font-weight: 100;
    font-size: 5rem;
}

p {
    margin-bottom: 1em;
    font-size: 24px;
}

section {
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

label {
    font-size: 18px;
}

:root {
    --primary-color: #e8ded3;
    --secondary-color: #f6f4f0;
    --accent-color: #434343;
    --text-color: #434343;
    --heading-color: #434343;
}

[data-aos] {
    overflow: hidden;
}

#hero {
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('media/image2.jpg') no-repeat center center/cover;
    margin: 0 auto;
}

.hero-textdown {
    margin-top: -65px;
    margin-bottom: 50px;
    text-align: center;
    background-color: transparent;
    font-family: 'Cormorant Garamond', sans-serif;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    #hero {
        margin-top: 30px;
        height: 60vh;
        margin-right: 30px;
        margin-left: 30px;
        padding: 0px;
    }

    #hero .hero-content h1 {
        font-size: 1.5rem !important;
        margin-top: 190px;
    }
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            rgba(67, 67, 67, 0.1) 0%,
            rgba(43, 43, 43, 0.4) 100%);
    z-index: 2;
}

@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 40px;
    }
}

#hero .hero-content {
    position: relative;
    z-index: 3;
    color: var(--primary-color);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

#hero .hero-content h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInDown 1s forwards 0.5s;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 602px) and (max-width: 1100px) {
    #hero .hero-content h1 {
        font-size: 3.5rem;
    }
}

#hero .hero-content .date {
    font-size: 2rem;
    opacity: 0;
    animation: fadeInUp 1s forwards 1s;
    font-family: 'Great Vibes', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--light-color);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero .decorative-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
}

#hero .decorative-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
}

#transition {
    background: linear-gradient(135deg, var(--secondary-color), #fff);
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

#transition p {
    transform: translateY(20px);
}

#venue {
    background: #fff;
    text-align: center;
    color: var(--text-color);
}

#venue h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#venue .venue-details {
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.8;
}

#venue .venue-gallery {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;

    max-width: 100%;
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--primary-color);
}

#venue .venue-gallery img {
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
    width: 100%;
    max-width: 300px;
    height: auto;
}

#venue .venue-gallery img:hover {
    transform: scale(1.05);
}

#venue .map-section {
    margin-top: 30px;
}

#venue .map-section button {
    background: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Great Vibes', sans-serif;
    font-size: 20px;
}

#venue .map-section button:hover {
    background: var(--primary-color);
    color: var(--text-color);
}

#timing {
    background: var(--primary-color);
    text-align: center;
    color: var(--text-color);
}

#timing h2 {
    margin-bottom: 30px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#timing .timeline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#timing .timeline .event {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: default;
}

#timing .timeline .event:hover {
    transform: translateY(-5px);
}

#timing .timeline .event h3 {
    margin-bottom: 10px;
    color: var(--accent-color);
}

#dress-code {
    background: #fff;
    text-align: center;
    color: var(--text-color);
}

#dress-code h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#dress-code .content {
    max-width: 800px;
    margin: 0 auto;
}

#dress-code .content img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.5s;
}

#dress-code .content img:hover {
    transform: scale(1.03);
}

#details {
    background: var(--primary-color);
    text-align: center;
    color: var(--text-color);
}

#details h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#details .content {
    max-width: 800px;
    margin: 0 auto;
}

#rsvp {
    background: #fff;
    text-align: center;
    color: var(--text-color);
}

#rsvp p {
    font-weight: 500;
    margin-bottom: 7px;
}

#rsvp h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#rsvp form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

#rsvp label {
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
}

#rsvp input[type="text"],
#rsvp select {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s ease !important;
    font-family: 'Cormorant Garamond', sans-serif;
    margin-bottom: 15px;
}

#rsvp input[type="text"]:focus,
#rsvp select:focus {
    border-color: gray;
}

#rsvp input[type="radio"] {
    margin-right: 5px;
    accent-color: var(--accent-color);
}


#rsvp button[type="submit"] {
    background: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Great Vibes', sans-serif;
    font-size: 20px;
}

#rsvp button[type="submit"]:hover {
    background: var(--primary-color);
    color: var(--text-color);
}

#contacts {
    background: var(--primary-color);
    text-align: center;
    color: var(--text-color);
}

#contacts h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--heading-color);
}

#contacts p {
    font-size: 1.5rem;
}

#contacts a {
    color: var(--accent-color);
    font-weight: 600;
}

#countdown-section {
    background: #fff;
    text-align: center;
    color: var(--accent-color);
}

#countdown-section h2 {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

#countdown {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Great Vibes', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.modal-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.modal-content button {
    margin: 10px;
    background: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Great Vibes', sans-serif;
    font-size: 18px;
}

.modal-content button:hover {
    background: var(--primary-color);
    color: var(--text-color)
}